div.ayx {display:none !important;}
A.ayx.cursor-pointer {display:none !important;}
div.card-body.text-cool {display:none !important;}
div.card-footer.text-center {display:none !important;}
div#ad-index {display:none !important;}
div.card.mt-3.download-list {display:none !important;}
