div#iaujwnefhw {display: none! important;}
div#sajdhfbjwhe {display:none!important}
div.kasjbgih {display: none! important;}
div#fkasjgf {display: none! important;}
div#comments-are {display: none! important;}
a[href*="javascript"] {display:none!important}
