div#iaujwnefhw {display: none! important;}
div.sajdhfbjwhe {height: 10px;}
div.kasjbgih {display: none! important;}
div#fkasjgf {display: none! important;}
div#comments.comments-are {display: none! important;}
a[href^="javascript"] img:not(#trk_hcaptcha):not([src^="https://captcha.su.baidu.com"])
